#backdrop-hook {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  height: 100%;
  min-height: 100vh;
}

.backdrop {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  box-shadow: 0 7000px 0 rgba(0,0,0,0.75);
}
