.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 2px solid #1b5e20;
  background: transparent;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1b5e20;
  transition: 0.35s;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #1b5e20;
  color: #fff;
}

.button--danger {
  border-color: #b71c1c;
  color: #b71c1c;
}

.button--danger:hover,
.button-danger:focus {
  background: #b71c1c;
}

.button--info {
  border-color: #f57f17;
  color: #f57f17;
}

.button--info:hover,
.button--info:focus {
  background: #f57f17;
}

