#drawer-hook {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
}

.side-drawer {
  width: 300px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 30;
  padding: 3rem 1rem;
  background: #3e2723;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

.side-drawer .nav-links {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.side-drawer .nav-links a,
.side-drawer .nav-links .info {
  color: #fff;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  transition: 500ms;
}

.slide-in-left-exit {
  transform: translateX(0);
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  transition: 500ms;
}

